<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Machine Learning Prediction</title>
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      
        
      </head>

    <style>
        .bg {
/* The image used */
background-image: url("https://cdn.pixabay.com/photo/2016/11/15/17/01/wisconsin-1826833_960_720.jpg");

/* Full height */
height: 100%; 

/* Center and scale the image nicely */
background-position: cover;
background-repeat: no-repeat;
background-size: cover;
}


    </style>
<div>
    <div class="bg">

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    
    <h1  style="text-align:Center";>{{prediction_text}}</h1>
    
    
<!-- <h2>This is heading 2</h2>
<h3>This is heading 3</h3> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>


</body>
</html>